<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="" />
    <link rel="icon" sizes="192x192" href="" />
    <link rel="stylesheet" href="/style/homepage.css" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <H1>This is my Home Page.</H1>
    </header>
    <main>
      <label for="">EJS %用法1</label><br />
      <section>
        <% for(let i=0; i< 10 ; i++){ %>
        <label for="">shoW</label>
        <% } %>
      </section>
      <label for="">EJS %=用法2-1</label><br />
      <section>
        <% for(let i=0; i< 10 ; i++){ %>
        <label for="">shoW <%= i %></label>
        <% } %>
      </section>
      <label for="">EJS %=用法2-2</label><br />
      <section>
        <% for(let i=0; i< ejs_2.length ; i++){ %>
        <label for=""><%= ejs_2[] %></label><br>
        <% } %>
      </section>
      <label for="">EJS %-用法3</label><br />
      <section><%- ejs_3 %></section>
      <label for="">EJS %-include 用法4</label><br />
      <section><%- include("partials/footerview") %></section>
    </main>
  </body>
  <noscript>
    <label for="">此瀏覽器不支援JS</label>
  </noscript>
</html>
